.mainNavigationBar ul{
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    list-style-position: inside;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.mainNavigationBar ul li{
    padding: 0px 5px;
    margin: 0;
}

.mainNavigationBar ul li:nth-last-of-type(n+2){
    border-right: 2px solid;
}

.mainNavigationBar ul li a{
    margin: 0;
    padding: 0;
}