.mainNavigationBar{
    margin: auto;
    margin-top: 2%;
}

.mainNavigationBar ul{
    margin: auto;
}

.mainNavigationBar ul li{
    margin: 0;
    padding: 0;
}

.mainNavigationBar ul li a{
    font-style: normal;
    text-decoration: none;
    color: var(--color-text-secondary);
    opacity: 0.6;
}

.mainNavigationBar ul li a:hover{
    color:var(--color-text-secondary);
    opacity:0.85;
}