.main_navigation_bar{
    margin: auto;
    margin-top: 2%;
}

.main_navigation_bar ul.main_navigation_bar_list{
    margin: auto;
}

.main_navigation_bar ul.main_navigation_bar_list li{
    margin: 0 1ch;
    padding: 0;
}