.down_arrow{
    position: absolute;
    animation: fadeInAnimation 2500ms linear, MoveUpDown 2s ease-in-out infinite;
    text-align: center;
    bottom: 5vh;
    width: 100%;
}

.fade_out{
    animation: fadeOutAnimation 300ms linear forwards, MoveUpDown ease-in-out infinite;
}

@keyframes MoveUpDown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        -ms-transform: translateY(5px);
        transform: translateY(5px);
    }
    60% {
        opacity: 0;
        -ms-transform: translateY(5px);
        transform: translateY(5px);
    }
    100% {
        opacity: 1;
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes fadeOutAnimation {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}