div.social_media_icons{
    display: flex;
    align-items:flex-end;
    justify-content: space-between;
    margin: auto;
    width: calc(128px + 40px);
}
div.social_media_icons a.social_media_link img.social_media_icon{
    width: 32px;
    opacity: 0.6;
    transition: 0.22s;
}

div.social_media_icons a.social_media_link img.social_media_icon:hover{
    width: 32px;
    opacity: 1;
}
p.social_media_text{
    text-align: center;
}