.first_window{
    position: relative;
    min-height: 100vh;
    padding: auto;
    text-align: center;
}

.first_window_h1{
    margin: 0;
}

.first_window_h3{
    margin: 0;
}
/*
 * this whole centering screen thing is giving me a bit of a headache...
 * i just want it to look roughly centered, i don't care about exact
 */
.first_window .inner_section{
    position: absolute;
    top: 50%;
    margin: 0;

    left:0;
    right:0;
    width: 100%;
    animation: FirstWindow_fadeInAnimation 800ms ease-out forwards;
}

@keyframes FirstWindow_fadeInAnimation {
    0% {
        position: absolute;
        opacity: 0;
        transform: translateY(-65%);
    }
    50% {
        position: absolute;
        transform: translateY(-65%);
        opacity: 0;
    }
    100% {
        position: absolute;
        transform: translateY(-70%);
        opacity: 1;
    }
}

.first_window h1{
    font-size: 3.5em;
}
.first_window h2, h3, h4{
    font-size: 1.5em;
}
  
/* fix to get the main section to line up correctly, bruh this stinks */
@media screen and (max-width:  75ch),
       screen and (max-height: 480px)  {
    .first_window h1{
        font-size: 1.875em;
    }
    .first_window h2, h3, h4{
        font-size: 1.25em;
    }
}
